<script>
    export let datas = [];
    export let Yscale;
    export let Xscale;

    let pathDrawer = (d) => {
        let path = "M 0," +Yscale(0);
        d.forEach((val, i) => {
            path += " " + Xscale(i) + ',' + Yscale(val)
        })
        return path;
    }
</script>

<style>
    path{
        fill: yellow;
    }
</style>

<path d={pathDrawer(datas)}/>