<script>
    export let datas = [];
    export let scaleY;
    export let scaleX;

    let pathDrawer = (d) => {
        let path = "M 0,0";
        d.forEach((value, idx) => {
            path += " " + scaleX(idx) + ',' + scaleY(value)
        })
        return path;
    }
</script>

<style>
    path{
        fill: blue;
    }
</style>

<path d={pathDrawer(datas)}/>