<script>

import { json } from "d3-fetch";
import { onMount } from "svelte";

import { scaleLinear } from 'd3-scale';
import { extent } from "d3-array";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = [];
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  let cx = 100;
  let cy = 100;
  let r = 50;
  let start_degree = 0;
  let stop_degree = 1;
  
  $: scaleH = scaleLinear()
              .domain(extent(data.map((d) => d.heating)))
              .range([0, 75]);
  

   $: scaleC = scaleLinear()
              .domain(extent(data.map((d) => d.cooling)))
              .range([0, 75]);
            

  $: scaleDegree = scaleLinear()
                  .domain(extent(data.map((d) => d.day_of_year)))
                  .range([0, 360])

  const degree2radians = function(degree) {
    return Math.PI*(degree)/180
  }

  const x = function(cx, radius, theta) {
    return Number(cx) + radius*Math.cos(theta)
  }

  const y = function(cy, radius, theta) {
    return Number(cy) + radius*Math.sin(theta)
  }

  const circleDrawer = function(cx, cy, r, start_degree, stop_degree) {
    let start_theta = degree2radians(start_degree)
    let stop_theta = degree2radians(stop_degree)
    let start_x = x(cx,r,start_theta)
    let start_y = y(cy,r,start_theta)
    let stop_x = x(cy,r,stop_theta)
    let stop_y = y(cx,r,stop_theta)
    return "M " + cx + " " + cy + " " +
           "L " + start_x + " " + start_y + " " +
           "A " + r + " " + r + " 0 0 1 " + stop_x + " " + stop_y + " " +
           "Z"
  }
</script>

{#if !data}
<p>Loading the data, please wait...</p>

{:else}

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    <circle cx=100 cy=100 r=80 fill='none' stroke='black'/>
    <circle cx=300 cy=100 r=80 fill='none' stroke='black'/>
    <circle cx=500 cy=100 r=80 fill='none' stroke='black'/>
    <line x1=100 x2=100 y1=20 y2=180 />
    <line x1=300 x2=300 y1=20 y2=180 />
    <line x1=500 x2=500 y1=20 y2=180 />
    <line x1=20 x2=180 y1=100 y2=100 />
    <line x1=220 x2=380 y1=100 y2=100 />
    <line x1=420 x2=580 y1=100 y2=100 />
    {#each data.slice(1,365) as d}
    <path d={circleDrawer(cx=100,cy=100, r=scaleH(d.heating), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+1)} fill='red' opacity='0.5'/>
    <path d={circleDrawer(cx=100,cy=100, r=scaleC(d.cooling), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+1)} fill='blue' opacity='0.5'/>
    {/each}
    <g transform='translate(200, 0)'>
      {#each data.slice(366,730) as d}
        <path d={circleDrawer(cx=100,cy=100, r=scaleH(d.heating), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+0.5)} fill='red' opacity='0.5'/>
        <path d={circleDrawer(cx=100,cy=100, r=scaleC(d.cooling), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+0.5)} fill='blue' opacity='0.5'/>
      {/each}
    </g>
    <g transform='translate(400, 0)'>
      {#each data.slice(731,1095) as d}
        <path d={circleDrawer(cx=100,cy=100, r=scaleH(d.heating), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+0.5)} fill='red' opacity='0.5'/>
        <path d={circleDrawer(cx=100,cy=100, r=scaleC(d.cooling), start_degree=scaleDegree(d.day_of_year), stop_degree=scaleDegree(d.day_of_year)+0.5)} fill='blue' opacity='0.5'/>
      {/each}
    </g>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  line {
    stroke: black
  }

</style>

{/if}