<script>

import { json } from "d3-fetch";
import { onMount } from "svelte";

import { scaleOrdinal } from 'd3-scale';
import { extent } from 'd3-array';
import { scaleLinear } from 'd3-scale';

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  $: scaleY = scaleOrdinal()
                .domain(extent(data.map((item) => item.buildingtype)))
                .range([0,15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240]);

  $: scaleX = scaleLinear()
          .domain([0, 743])
          .range([0, innerWidth-100]);
          
  $: scaleWidth = scaleLinear()
                      .domain(extent(data.map((d)=> d.total_heating_energy)))
                      .range([0.10, 20])

</script>

{#if !data}
<p>Loading the data, please wait...</p>

{:else}

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
   {#each data.slice(1, 11904) as d}
     <line x1={scaleX((d.day-1)*24+d.hour)} x2={scaleX((d.day-1)*24+d.hour)+1} y1={scaleY(d.buildingtype)}  y2={scaleY(d.buildingtype)}  stroke-width= {scaleWidth(d.total_heating_energy)} stroke='black'/> 
    
     <text x={innerWidth-85} y={scaleY(d.buildingtype)}>{d.buildingtype}</text>

    {/each} 
  </g>
</svg>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  text {
    font-size: 8px;
    vertical-align: baseline;
    font-family: 'Papyrus';
  }
</style>