<script>
  // Properties
  export const data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  export let year = 0; 
  export let continent = "all";

  var interval;

  function turn_on() {
    return interval = setInterval(() => {year +=1}, 1000);
  }

  function turn_off() {
    clearInterval(interval);
  }
  
</script>

<div>
  <!--  -->
  <input type='button' class='btn btn-primary' value='Play' on:click={turn_on}>
  <input type='button' class='btn btn-primary' value='Reset'on:click={() => year=0} on:click={turn_off}>
  <input type="range" min=0 max=213 bind:value={year}/>
  {year+1800}

  <select name='select continent' bind:value={ continent } class='form-control'>
    <option value="europe">Europe</option>
    <option value="asia">Asia</option>
    <option value="americas">Americas</option>
    <option value="africa">Africa</option>
  </select>
</div>
