<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
</script>

<div>
    <button type="button" class="btn btn-primary" on:click={handleClick}>
        Count: {count}
    </button>
    
    <button type="button" class="btn btn-secondary" on:click="{() => count = 0}">
        Return to 0
    </button>
</div>