<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = [];

  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { extent } from 'd3-array';
  import { schemeDark2} from 'd3-scale-chromatic';

  const scaleX = scaleLinear()
    .domain(extent(data.map(function (item) {
      return(item.income)
  })))
    .range([20,innerWidth]);
  const scaleY = scaleLinear()
    .domain(extent(data.map(function (item) {
      return(item.life_exp)
  })))
    .range([20, innerHeight])

  const scaleColor = scaleOrdinal()
    .domain(extent(data.map(function (item) {
      return(item.continent)
    })))
    .range(schemeDark2);

  import { axisBottom } from 'd3-axis';
  import { axisLeft } from 'd3-axis';

  const botAxis = axisBottom(scaleX);
  function xAxis (g) {
    botAxis(select(g))
  }
  const leftAxis = axisLeft(scaleY);
  function yAxis (g) {
    leftAxis(select(g))
  }
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    <!--  -->
    {#each data as i}
    <circle cx={scaleX(i.income)} cy={scaleY(i.life_exp)} r=5 style={"fill:" + scaleColor(i.continent)}/>
    {/each}
  
  </g>
  <g transform ="translate({margin.left}, {height-margin.bottom})" use:xAxis></g>
  <g transform ="translate({margin.left}, {margin.top})" use:yAxis></g>
</svg>

