<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import { scaleLog } from 'd3-scale';
  const scale = scaleLog().domain([2,9]).range([10, 750]);

  import { axisBottom } from 'd3-axis';
 

  import { select } from 'd3-selection';

const axis = axisBottom(scale);
  function xAxis (g) {
    axis(select(g))
   
  }
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as value}
    <circle cx={scale(value)} cy=50 r=10 />
    {/each}
    <g transform ="translate(0, 75)" use:xAxis></g>
  </g>
  
</svg>
