<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import { scaleLinear } from 'd3-scale';
  const scaleX = scaleLinear().domain([2,9]).range([0, innerWidth]);
  const scaleY = scaleLinear().domain([1, 3]).range([0, innerHeight]);

  import { scaleOrdinal } from 'd3-scale';
  import { schemeDark2 } from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
import { append } from 'svelte/internal';
  const colorScale = scaleOrdinal()
  .domain(extent(values.map(function (item) {
      return(item.category);
  })))
  .range(schemeDark2);

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as value}
    <circle cx={scaleX(value.x)} 
            cy={scaleY(value.y)} 
            r=10 
            style={"fill:" + colorScale(value.category)}/>
    <text x={scaleX(value.x)}
          y={scaleY(value.y)-10}
          class="valueLabel">{value.y}</text>
    <line x1={scaleX(value.x)}
          y1="75"
          x2={scaleX(value.x)}
          y2={scaleY(value.y)}
          style = {"stroke:" + colorScale(value.category)} 
          stroke-width="2"/>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
