<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  import { scaleLinear } from 'd3-scale'
  import {scaleOrdinal} from 'd3-scale'
  import { extent } from 'd3-array';
  
  const scaleX = scaleOrdinal()
  .domain(extent(data.map(function (item) {
      return(item.service);
  })))
  .range([1,75,150,225,300,375]);
  const scaleY = scaleLinear().domain([0, 3]).range([1, 200]);


  
  import { axisBottom } from 'd3-axis';
  import { axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';
  const axisBot = axisBottom(scaleX);
  function xAxis (g) {
    axisBot(select(g))
  }

  const axisLef = axisLeft(scaleY);
  function yAxis (g) {
    axisLef(select(g))
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    <!--  -->
    {#each data as i}
    <rect x={40+scaleX(i.service)} y={20} width="30" height={scaleY(i.viewers)} />
    {/each}
    <g transform ="translate(55,0)" use:xAxis></g>
    <g transform ="translate(20,20)" use:yAxis></g>
  </g>
</svg>

<style> 

rect {
  fill: grey
}
</style>
